version: '3.8'

services:
  web:
    build: .
    container_name: flask-app
    expose:
      - "5000"
    environment:
    
      - FLASK_ENV=production
      
    #   Don't publish port 5000 - only Nginx will access it internally
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    ports:
      - "80:80"  # Now your app is accessible on port 80 (default HTTP)
    volumes:
    # volume
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./static:/app/static:ro  # Mount static files
    depends_on:
      - web
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
